header {
  font-size: 20px;
  display: block;
  position: relative;
  padding-top: 15px;
  background: black;
  grid-area: header;
  box-sizing: border-box;
  z-index: 2;
  border-bottom: 1px solid orange;
}

#navbar-wrapper {
  width: 50%;
  margin: 0 auto;
}

#navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar li a {
  color: white;
}

@media only screen and (max-width: 900px){
  #navbar-wrapper {
    width: 80%;
  }
}